.car {
  width: 350px;
  height: auto;
  background-color: #f9f9f9;
  float: left;
  margin: 10px 15px 15px 10px;
  text-align: center;
  padding: 10px;
  border-radius: 0 0 8px 8px;
  position: relative;
}

img {
  height: 250px;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.bottom {
  flex-grow: 1;
  padding: 20px 25px;
  text-align: center;
}
.name {
  font-weight: bold;
  font-size: 20px;
}
a {
  cursor: pointer;
  position: relative;
}
hr {
  border: none;
  background-color: rgba(79, 128, 0, 0.623);
  color: black;
  height: 2px;
}
.description {
  padding-top: 20px;
  font-weight: bold;
  line-height: 12px;
  color: #909090;
}
.price {
  font-size: 18px;

  .priceUsd {
    font-weight: bold;
  }
}
.buttonOrder {
  margin-top: 10px;
  padding: 14px 15px;
  border-radius: 5px;
  font-size: 17px;
  text-align: center;
  background-color: blue;
  position: relative;
  text-shadow: 1px 1px 1px;
  box-shadow: 0 2px 2px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}
.buttonBlock {
  color: white;
  text-decoration: none;
}
.tabs {
  margin-right: 18px;
  margin-left: 18px;
  margin-top: 8px;
  margin-bottom: 8px;
  padding-bottom: 15px;
}
.tabDays {
  text-shadow: none;

  padding-right: 8px;
  padding-left: 8px;
}
.tabHours {
  text-shadow: none;

  padding-right: 8px;
  padding-left: 8px;
}
.tab {
  border-radius: 5px;
  font-size: 17px;
  padding-right: 8px;
  padding-left: 8px;
  float: left;
  text-align: center;
  color: black;
  border-radius: 8px;
}
.tab:hover {
  background-color: rgb(93, 122, 89);
}
button {
  background: #02b3e4;
  margin-left: 8px;
  padding: 15px 40px;
  text-align: center;
  color: #fff;
  font-family: "Work Sans", sans-serif;
  border-radius: 4px;
  border: none;
  font-size: 15px;
}
