.conteiner {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: auto;
    width: auto;
    line-height: 1.8;
}

.catalog-list {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 10px rgb(0 0 0 / 40%);
  min-height: 100px;
}
