.conteiner {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: auto;
  width: auto;
  line-height: 1.8;
}
  .catalogList {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 10px;
    min-height: 100px;
  }

